/**
 * Variable file 
 * place global variables here:
 *
 * @package Quicto
 * @since 2016
 */


$font-stack: 'Lucida Grande', Arial, Helvetica, sans-serif;
$head-stack: 'Lucida Grande', Arial, Helvetica, sans-serif;

$white: #fff;
$black: #444;
$grey: #f1f1f1;

$border-radius: 0;

$darkBlue: #1D5358;
$lightBlue: #57B0C7;
$orange: #BF6240;
$gold: #C1B644;

$firstColor: $darkBlue;
$secondColor: $orange;
$thirdColor: $gold;

$bgcolor: #84CF6E;
$errorColor: $secondColor;
$ctaColor: 	$thirdColor;

$bgColor: $bgcolor;
$font-color: $black;


/** social colors  */
$facebook-color: #3C5C99;
$twitter-color: #22A7E0;
$youtube-color: #E62117;
$google-plus-color: #CE3633;
$pinterst-color: #CE2029;
$linkedin-color: #107AB4;
$rss-color: #EC822C;
$flickr-color: #E9EDEE;
$instagram-color: #9D7144;